<!-- Banner -->		
<section id="banner">

    <!--
        ".inner" is set up as an inline-block so it automatically expands
        in both directions to fit whatever's inside it. This means it won't
        automatically wrap lines, so be sure to use line breaks where
        appropriate (<br />).
    -->
    <div class="inner">

        <header>
            <h2>ESCUELAS BOSQUE LATINOAMERICA</h2>
        </header>
        <p>Promoviendo el <b>juego libre</b> y el <b>aprendizaje autodirigido</b>
        <br>
        en entornos naturales silvestres de Argentina,
        <br>
        a partir del modelo pedagógico internacional de las <b>Escuelas Bosque</b>.
        </p>
        <footer>
            <ul class="buttons vertical">
                <li><a href="#main" class="button fit scrolly">Quiero saber mas</a></li>
            </ul>
        </footer>

    </div>

</section>
