<header id="header">
				<h1 id="logo"><a href="http://escuelabosque.org">Escuelas Bosque <span>Latinoamerica</span></a></h1>
				<nav id="nav">
					<ul>
						<li><a href="/">Inicio</a></li>
                        <li><a href="/blog.html">Blog</a></li>
						<li class="submenu">
							<a href="">Información</a>
							<ul>
								<li><a href="/left-sidebar.html">Historia y desarrollo</a></li>
								<li><a href="/right-sidebar.html">Fundamentos y beneficios</a></li>
								<li><a href="/no-sidebar.html">Carcaterísticas</a></li>
								<li><a href="/contact.html">Contacto</a></li>
									<ul>
										
									</ul>
								</li>
							</ul>
						</li>
						<li><a href="#" class="button special"></a></li>
					</ul>
				</nav>
			</header>
